@import "tailwindcss";

@theme inline {
  --color-primary: #03367a;
  --color-accent: #ff6f00;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
